# Python package
*.egg-info/
dist/
build/
__pycache__/
*.pyc
.jit_utils/
*.pytest_cache/

# Logs file
Logs/
**/Logs/
*.log
*.txt

# vscode properties
.vscode/

# Result files
*.pvd
*.vtu
*.h5
*.xdmf
*.mesh
*.zip
Results/

# zone identifiers
*:Zone.Identifier

# .stl files
*.0.stl
*.stl

# JIT
jitfailure-*/

# Local qol folder
local/

